<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077789577585-9ch3ahca369pc7nvi3rel5660cbshpkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077789577585-9ch3ahca369pc7nvi3rel5660cbshpkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCKu2q9mqEMjefb7DD7moZ3Fd_8VCmYH7E</string>
	<key>GCM_SENDER_ID</key>
	<string>1077789577585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopifie</string>
	<key>PROJECT_ID</key>
	<string>shopifie-tanyarajhans7</string>
	<key>STORAGE_BUCKET</key>
	<string>shopifie-tanyarajhans7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077789577585:ios:05695773524deb4a0726d0</string>
</dict>
</plist>